@import "../../common/common.style.scss";

.common-sidebar {
  display: flex;
  flex-direction: inherit;
  height: 100vh;
  &-container {
    // background-color: #0f2953;
    background-color: $sidebar-background-color;
    color: $sidebar-color;
    // color: #ffffff;
    width: fit-content;
    border-radius: 0 1rem 0 0;
    padding: 2rem 1.25rem;
    transform: translateX(0);
    transition: transform 1s, opacity 1s;

    &-expanded {
      padding: 2rem 1.5rem;
      transform: translateX(0);
      transition: transform 1s, opacity 0.5s;
      width: 11rem;
    }

    &-collapsed {
      padding: 2rem 0.625rem;
      transform: translateX(-5%);
      transition: transform 1s, opacity 0.5s;
    }

    &-toggle {
      &-expanded {
        display: flex;
        justify-content: flex-end;
      }
      &-icon {
        cursor: pointer;
      }

      &-hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1.875rem;
        background-color: #263e64;
        border-radius: 3.125rem;
        padding: 0.9375rem 0.625rem 0.75rem 0.625rem;
        cursor: pointer;
      }

      &-hamburger-menu-line {
        width: 100%;
        height: 0.1875rem;
        background-color: $sidebar-color;
        margin-bottom: 0.3125rem;
        transition: transform 0.5s, opacity 0.5s;
      }

      &-open .common-sidebar-container-toggle-hamburger-menu-line:nth-child(1) {
        transform: translateY(0.75rem) translateX(-0.5625rem) rotate(45deg);
        width: 50%;
      }

      &-open .common-sidebar-container-toggle-hamburger-menu-line:nth-child(2) {
        transform: translateY(0rem) rotate(180deg);
        width: 90%;
      }

      &-open .common-sidebar-container-toggle-hamburger-menu-line:nth-child(3) {
        transform: translateY(-0.75rem) translateX(-0.5625rem) rotate(-45deg);
        width: 50%;
      }
    }

    &-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 92%; //changed from 100%
      justify-content: space-around;
      cursor: pointer;
      &-top {
        display: flex;
        flex-direction: column;
        height: 40%;
        justify-content: space-between;
        &-wrap {
          display: flex;
          align-items: center;
          cursor: pointer;
          .sidebar-icon-expanded {
            margin-left: 0.3125rem;
          }
          &-inner {
            width: 2rem in !important;
            cursor: pointer;
          }
        }
        &-wrap.active {
          background-color: #263e64;
          padding: 0.3125rem 0.625rem;
          border-radius: 0 0.625rem 0.625rem 0;
        }
      }

      &-bottom {
        display: flex;
        flex-direction: column;
        height: 20%;
        justify-content: space-between;
        //align-items: center;
        &-wrap {
          display: flex;
          align-items: center;
          cursor: pointer;
          .sidebar-icon-expanded {
            margin-left: 0.3125rem;
          }
          &-inner {
            width: 2rem in !important;
            cursor: pointer;
          }
        }
        &-wrap.active {
          background-color: #263e64;
          padding: 0.3125rem 0.625rem;
          border-radius: 0 0.625rem 0.625rem 0;
        }
      }
      &-bottom.expanded {
        height: 15%;
      }
    }

    &-icon.expanded {
      align-items: flex-start;
    }

    // .css-tzssek-MuiSvgIcon-root {
    //   width: 2rem !important;
    //   height: 2rem !important;
    // }
  }

  &-content {
    margin: 0 1rem;
    width: 100%;
  }
}
