.organizations-table-container {
  // height: 1000px !important;

  .MuiDataGrid-main {
    max-height: 25rem !important;
  }
  .MuiDataGrid-columnHeaderRow {
    background-color: #ffffff;
  }
  .MuiDataGrid-row {
    background-color: #f5f4f9;
    margin-bottom: 0.125rem;
  }
  .sb-show-main.sb-main-padded {
    padding: 0;
  }
  .MuiDataGrid-columnHeaderTitle {
    color: #a1a3aa;
  }
}
