@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif !important;
}

$blue: #0076ff;
$black: #000000;

$table-last-column-color: #e3eaef;
$table-row-color: #f5f4f9;
$column-header-title-color: #a1a3aa;
