$sidebar-background-color: #0f2953;
$sidebar-color: #ffffff;
$navbar-color: #e4e5ea;
$tab-navigation-bg-color: "#d0d0df";
$button-bg-color: #0076ff;
$button-color: #ffffff;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif !important;
}
